body {
    width: 50%;
    margin: 0;
}

.borda-vermelha {
    border: 2px solid rgb(247, 6, 6);
    margin-top: 30px;
}

.borda-verde {
    border: 1px solid rgb(26, 247, 6);
    margin-top: 30px;
}

.borda-amarela {
    border: 1px solid  hwb(61 19% 2%);
    margin-top: 30px;
}

.borda-azul {
    border: 1px solid rgb(6, 22, 247);
    margin-top: 30px;
}

.botao-nova-tarefa {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#0b0e07;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    text-shadow:inset 0px 1px 0px #263666;
    background:linear-gradient(#2dabf9, #0688fa);
  }

  .botao-nova-tarefa:hover {
    background: linear-gradient(#0688fa, #2dabf9);
  }
